.header__search {
    width: 37px;
    height: 35px;
    text-align: center;
    margin: 0 20px 0 20px;
    cursor: pointer;
    transition: all 1s ease;
}

@media (max-width: 800px) {
    .header__search {
        margin-left: auto;
    }
}

.header__search:hover {
    transform:scale(1.25);
}