.header__logo {
    width: 310px;
    height: 62px;
    margin-left: 15px;
}

@media (max-width: 470px) {
    .header__logo {
        width: 210px;
        height: 30px;
        margin-left: 0;
    }
}